<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inquiryDetail</title>
</head>
<body>
    <h4>/templates/mypage/inquiryDetail.html</h4>
    <hr>
    
    <h1>문의 상세 내역</h1>
    
    <table>
        <tr>
            <td>문의 등록 날짜</td>
            <td>날짜1</td>
        </tr>
        <tr>
            <td>문의 제목</td>
            <td>제목1</td>
        </tr>
        <tr>
            <td>문의 내용</td>
            <td>내용1</td>
        </tr>
    </table>    
</body>
</html>

<style>
    table {
        border-collapse:collapse;
    }
    td {
        border:1px solid black;
    }
</style>