<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inquiryList</title>
</head>
<body>
    <h4>/templates/mypage/inquiryList.html</h4>
    <hr>
    
    <h1>문의내역</h1>
    
    <table>
        <tr>
            <td>날짜</td>
            <td>제목</td>
            <td>내용</td>
        </tr>
        <tr>
            <td>날짜1</td>
            <td>제목1</td>
            <td>내용1</td>
        </tr>
        <tr>
            <td>날짜2</td>
            <td>제목2</td>
            <td>내용2</td>
        </tr>
        <tr>
            <td>날짜3</td>
            <td>제목3</td>
            <td>내용3</td>
        </tr>
    </table>
    
    <hr>
    
    <button>문의 작성하기</button>    
</body>
</html>

<style>
    td {
        border:1px solid black;
    }
    table {
        border-collapse:collapse;
    }
</style>