<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myBoard</title>
</head>
<body>
    <h4>/templates/mypage/myBoard.html</h4>
    <hr>
    
    <h1>나의 게시글</h1>
    
    <table>
        <tr>
            <td>게시일</td>
            <td>제목</td>
            <td>내용</td>
        </tr>
        <tr>
            <td>게시일1</td>
            <td>제목1</td>
            <td>내용1</td>
        </tr>
        <tr>
            <td>게시일2</td>
            <td>제목2</td>
            <td>내용2</td>
        </tr>
        <tr>
            <td>게시일3</td>
            <td>제목3</td>
            <td>내용3</td>
        </tr>
    </table>    
</body>
</html>

<style>
    td {
        border:1px solid black;
    }
    table {
        border-collapse:collapse;
    }
</style>