<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myReply</title>
</head>
<body>
    <h4>/templates/mypage/myReply.html</h4>
    <hr>
    
    <h1>나의 댓글</h1>
    
    <table>
        <tr>
            <td>날짜</td>
            <td>내용</td>
        </tr>
        <tr>
            <td>날짜1</td>
            <td>내용1</td>
        </tr>
    </table>    
</body>
</html>

<style>
    table {
        border-collapse: collapse;
    }
    td {
        border:1px solid black;
    }
</style>