<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wishList</title>
</head>
<body>
    <h4>/templates/mypage/wishList.html</h4>
    <hr>
    
    <table>
        <tr>
            <td>위시리스트 영화</td>
        </tr>
        
        <tr>
            <td>영화1</td>
        </tr>
    
        <tr>
            <td>영화2</td>
        </tr>
    
        <tr>
            <td>영화3</td>
        </tr>
    </table>
    
    <br/>
    
    <button>삭제</button>
    <button>취소</button>    
</body>
</html>

<style>
    table {
        border-collapse:collapse;
    }
    td {
        border:1px solid black;
    }
</style>