<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.myapp.mapper.BoardMapper">

    <!-- 게시판 목록 -->
    <select id="findBoardList" resultType="org.zerock.myapp.domain.BoardVO">
        SELECT
        Board.*,
        Movies.title AS movie_title,
        board_kategories.name AS kategorie_name,
        Member.nickname
        FROM
        Board
        LEFT JOIN Movies ON Board.movie_id = Movies.id
        LEFT JOIN board_kategories ON Board.kategorie_id = board_kategories.id
        LEFT JOIN Member ON Board.member_id = Member.id
        ORDER BY board.id DESC
    </select>

    <!-- 특정 게시글 조회 -->
    <select id="findBoard" resultType="org.zerock.myapp.domain.BoardVO">
        SELECT
        Board.*,
        Movies.title AS movie_title,
        board_kategories.name AS kategorie_name,
        Member.nickname
        FROM
        Board
        LEFT JOIN Movies ON Board.movie_id = Movies.id
        LEFT JOIN board_kategories ON Board.kategorie_id = board_kategories.id
        LEFT JOIN Member ON Board.member_id = Member.id
        WHERE board.id = #{id}
        ORDER BY board.id DESC
    </select>

    <!-- 게시글에 해당하는 댓글 목록 -->
    <select id="findBoardReplyList" resultType="org.zerock.myapp.domain.BoardReplyVO">
        SELECT
        Board_reply.*,
        Member.nickname
        FROM
        Board_reply
        INNER JOIN
        Board ON Board_reply.board_id = Board.id
        INNER JOIN
        Member ON Board_reply.member_id = Member.id
        WHERE
        Board.id = #{id}
        ORDER BY
        Board_reply.id DESC
    </select>

    <!-- 게시글에 해당하는 특정 댓글 조회 -->
    <select id="findBoardReply" resultType="org.zerock.myapp.domain.BoardReplyVO">
        SELECT
        Board_reply.*,
        Member.nickname
        FROM
        Board_reply
        INNER JOIN
        Board ON Board_reply.board_id = Board.id
        INNER JOIN
        Member ON Board_reply.member_id = Member.id
        WHERE
        Board_reply.id = #{id}
        ORDER BY
        Board_reply.id DESC
    </select>

    <update id="updateBoardReply">
        UPDATE Board_reply
        SET content = #{reply.content},
        updated_at = CURRENT_TIMESTAMP
        WHERE id = #{reply.id};
    </update>

    <insert id="insertReply">
        INSERT INTO Board_reply (content, member_id, board_id)
        VALUES (#{content}, #{memberId}, #{id})
    </insert>

</mapper>