<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.myapp.mapper.MemberMapper">

    <!-- 회원가입 -->
    <insert id="registrationMember">
        INSERT INTO MEMBER (
        name,
        email,
        nickname,
        password,
        phone_num
        )
        VALUES(
        #{dto.name},
        #{dto.email},
        #{dto.nickname},
        #{dto.password},
        #{dto.phoneNum}
        )
    </insert>

    <!--DB에 기존에 입력된 email이 있는지 확인-->
    <select id="checkDupleEmail" resultType="Integer">
        SELECT
            count(email)
        FROM
            member
        WHERE
            email = #{email}
    </select>

    <!-- 로그인 -->
    <select id="loadUserByUserEmail" resultType="org.zerock.myapp.domain.MemberVO">
        SELECT
            *
        FROM
            member
        WHERE email= #{email}
    </select>

    <!-- 회원의 최근 로그인 날짜 입력 -->
    <update id="lastLoginDate">
        UPDATE member
        SET last_login_date = CURRENT_TIMESTAMP
        WHERE email = #{email}
    </update>

    <!-- 이메일 찾기 -->
    <select id="findUserEmail" parameterType="map" resultType="string">
        SELECT email
        FROM member
        WHERE name = #{name}
        AND phone_num = #{phoneNum}
    </select>

    <!-- 비밀번호 찾기 -->
    <select id="findUserPassword" resultType="org.zerock.myapp.domain.MemberVO">
        SELECT
            *
        FROM
            member
        WHERE
        email = #{email}
        AND name = #{name}
        AND phone_num = #{phoneNum}
    </select>

    <!-- 비밀번호 변경 -->
    <update id="updateUserByPassword">
        UPDATE member
        SET password = #{password}
        WHERE id = #{id}
    </update>

    <!-- 특정 회원정보 조회 -->
    <select id="findUser" resultType="org.zerock.myapp.domain.MemberVO">
        SELECT
        *
        FROM
        member
        WHERE id= #{id}
    </select>

    <!-- 특정 회원정보 변경 -->
    <update id="updateMypageMember">
        UPDATE member
        <set>
            <if test="changePW != null and changePW != ''">
                password = #{changePW},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                phone_num = #{phoneNum},
            </if>
            <if test="birthday != null and birthday != ''">
                birthday = #{birthday},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>