<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>boards</title>
    <style>

    </style>
</head>
<body>
<header th:replace="nav.html" />
<main>
    <h3>/templates/board/detailBoard.html</h3>
    <hr>
</main>
<footer th:replace="footer.html" />
</body>
</html>