<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MOVIE MOA</title>
    <style>
        .main{
            grid-area: main;
        }
    </style>
</head>
<body>
<header th:replace="nav.html" />
<main>
    <aside th:replace="storeSide.html" />
    <article class="main">
        <h3>/templates/store/writeProduct.html</h3>
        <hr>
    </article>
</main>
<footer th:replace="footer.html" />
</body>
</html>