<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>MOVIE MOA</title>
<style>
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        font-weight: bold;
        background-color: #007BFF;
        color: #fff;
    }
</style>
<body>
<footer class="footer" th:fragment="footer">
    <p>© 2023 MOVIE MOA</p>
</footer>
</body>
</html>
